[project]
	description = Implementation of Facebook's DataLoader in Golang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nick Randall (nicksrandall)
[access "refs/for/refs/*"]
	read = group user/Nick Randall (nicksrandall)
	push = group user/Nick Randall (nicksrandall)
	label-Code-Review = -2..+2 group user/Nick Randall (nicksrandall)
	label-Verified = -1..+1 group user/Nick Randall (nicksrandall)
	rebase = group user/Nick Randall (nicksrandall)
	removeReviewer = group user/Nick Randall (nicksrandall)
	submit = group user/Nick Randall (nicksrandall)
[access "refs/heads/*"]
	read = group user/Nick Randall (nicksrandall)
	create = group user/Nick Randall (nicksrandall)
	push = +force group user/Nick Randall (nicksrandall)
	pushMerge = group user/Nick Randall (nicksrandall)
[access "refs/tags/*"]
	push = group user/Nick Randall (nicksrandall)
	push = +force group user/Nick Randall (nicksrandall)
